<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Project 3 Sources</title>
    <!--Sources CSS-->
    <link rel="stylesheet" type="text/css" href="../static/sources.css">
    <!-- AniCollection.css library -->
    <link rel="stylesheet" href="../static/anicollection.css">
</head>
​
<body>
    <div class="main">
        <div class="navbar">
            <div class="menu">
                <ul data-anijs="if: mouseover, do: bounce animated">
                    <li> <a href="home.html">HOME</a></li>
                    <li> <a href="map.html">MAP</a></li>
                    <li> <a href="charts.html">CHARTS</a></li>
                    <li> <a href="sources.html">SOURCES</a></li>
                </ul>
            
        
    
            <div class="title">
                <h1 style="color: #fff;">Sources</h1>
            </div>
        
            <div class = "links"></div>
                <li><a href="https://www.ncei.noaa.gov/data/local-climatological-data/doc/LCD_documentation.pdf">NOAA Climate Data</a></li>
                <li><a href="https://www.ncei.noaa.gov/cdo-web/">LCD Documentation from NOAA</a></li>
                <li><a href="https://anijs.github.io/">AniJS</a></li>
                <li><a href="https://leafletjs.com/">Leaflet</a></li>
                <li><a href="https://d3js.org/">D3</a></li>
                <li><a href="https://wallpapers.com/wallpapers/burning-temperature-of-the-sun-b14hsxx2jppt7gua.html">Home Page and Source Page Background</a></li>
                <li><a href="https://tenor.com/view/weather-wind-weather-forecast-gif-17384272">Charts Page Header</a></li>
            </div>
        </div>
    </div>
​
​
<script src="../static/anijs-min.js"></script>
</body>
</html>